body {
  background: #000000;
  margin: 0px;
  color: #FF965B;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}


/*** TYPE ***/
h1, h2, h3, h4, h5 {
  margin-top: 0px;
}
h1 {
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
}
.headline {
  background-color: #FB8500;
  margin-bottom: 14px;
}
  .h3 {
    background-color: #000000;
    padding: 1px 6px;
    margin-left: 20px;
    font-size: 24px;
    vertical-align: middle;
  }
a, a:active, a:visited {
  color: #7F74EF;
}
a:hover {
  text-decoration: none;
}


/*** LAYOUTS ***/
.container-fluid {
  margin-top: 20px;
}

#top {
  height: 100px;
  text-align: right;
}

#main {
  margin-top: 100px;
}
  #main p {
    color: #9999cd;
  }

#sectionC, #sectionD, #sectionE, #sectionF {
  display: none;
}


/*** NAVIGATION ***/
ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  height: 100%;
  min-height: 600px;
}
  ul li {
    background-color: #B781B8;
    color: #000000;
    padding: 6px 6px 0 0;
    text-align: right;
    margin-bottom: 4px;
    min-height: 40px;
    height: 9%;
    position: relative;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
    li:active {
      opacity: 0.8;
    }
    li:hover {
    	cursor: pointer;
    }
    li#selected {
    	min-height: 80px;
      height: 40%;
    }
    li.nav-a {
      background-color: #7F74EF;
      border-radius: 0px 0px 0px 60px;
      height: 130px;
    }
    li.nav-b {
    }
    li.nav-c {
      background-color: #C0484C;
      border-radius: 60px 0px 0px 0px;
    }
    li.nav-d {
      background-color: #C0484C;
    }
    li.nav-e {
      background-color: #FB8500;
    }
    li.nav-f {
      background-color: #FF965B;
    }

.hr-top {
	position: absolute;
	background-color: #7F74EF;
	margin-left: 128px;
	height: 44px;
	bottom: 0px;
  z-index: -10;
}
  .hr-top .hr-block {
  	background-color: #000000;
  	height: 22px;
  	border-bottom-left-radius: 30px;
  }
.hr-bottom {
  position: absolute;
	background-color: #C0484C;
	margin-left: 128px;
	height: 44px;
	top: 0px;
  z-index: -10;
}
  .hr-bottom .hr-block {
  	background-color: #000000;
  	height: 22px;
  	margin-top: 22px;
  	border-top-left-radius: 30px;
  }


/*** ICONS ***/
.icons icon {
  float: left;
  margin-right: 8px;
}

icon {
  width: 38px;
  height: 38px;
  background-color: #333333;
  color: #000000;
  display: block;
  text-align: center;
  font-size: 18px;
  display: table;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
  icon.active {
    background-color: #FB8500;
  }
  icon:hover {
    cursor: pointer;
  }
  [class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
    display: table-cell;
  }


/*** BUTTONS ***/
.btn {
  text-align: right;
  color: #000000;
  background-color: #B781B8;
  padding: 16px 16px 6px 0px;
  margin-bottom: 14px;
  cursor: pointer;

}
  .btn:active {
    opacity: 0.8;
  }
  .btn-round {
    border-radius: 30px; 
  }
  .btn-round-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .btn-inactive {
    background-color: #AC6A80;
  }
  .btn-active {
    background-color: #FB8500;
  }
